.dismissbutton{
    margin-right: 0;
    margin-left: auto;
    display:flex;
    justify-content:flex-end;

    background-color: rgb(16, 118, 214);
    color: rgb(188, 187, 187);
    padding: 0px 6px;
    border-radius: 4px;
}
