#layout-legend-content {
    padding-top: 50px;
}
body{
    background-image: url(../../../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* color: rgba(65, 187, 100, 0.782); */
}
.button {
    background-color: #53575a !important;
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 6px 10px;
    border-radius: 8px;
}
#layout-legend {
    height: 50px;
    width: 400px;
    margin: 20px;
    margin-right: auto;  /* Aligns it to the right */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 15px;
    opacity: 0.9; 
    background-color: #828a91 !important;   

}
.TableNumber {
    position: absolute;
    z-index: 100;
    font-size: medium;
    left: 20px;
    top: 20px;
    color: rgb(188, 187, 187);
}

#layout-legend-elements {
    display: inline;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 12px 15px;
    padding: 0;
    list-style-type: None;
    display:inline-flex ;
    opacity: 0.8;
    background-color: #828a91;

}


#layout-legend-elements li:nth-child(1) span {
    background-color: rgb(0, 218, 0);
    border-radius: 8px;

}

#layout-legend-elements li:nth-child(2) span {
    background-color: rgb(8, 150, 216);
    border-radius: 8px;
}

#layout-legend-elements li:nth-child(3) span {
    background-color: rgb(250, 37, 37);
    border-radius: 8px;
}

#layout-legend-elements li:nth-child(4) span {
    background-color: rgb(250, 37, 37);
    border-radius: 8px;
}

.legend-colors {
    border: 1px solid black;
    height: 20px;
    width: 30px;
    margin: auto 10px;
    display: inline-block;
}
.space {
    width: 15px;
    height: auto;
    display: inline-block;
  }

#layout-content {
    height: 65vh;
    width: 60vw;
    margin: 15px 30px;
    border: 3px solid rgb(211, 27, 27);
}
.left-content {
    display: flex;
    /* justify-content: center; */
    padding: 20px 20px 20px 20px;
    align-items: center;
}
.ActionList {
    display: flex;
    font-size: 20px;

    width: 30vw;
    height: 70vh;
    align-items: top;
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    
}
.List li{
    display:flex;

    list-style: none;
    width: 28vw;
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
