#layout-legend-content {

}

#layout-legend {
    height: 495px;
    width: 725px;
    margin: 20px;
    margin-left: auto;  /* Aligns it to the right */
    border: 2px solid black;
    border-radius: 20px;
    font-size: 13px;
}

#layout-legend-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 35px 15px;
    padding: 0;
    list-style-type: none;
}

#layout-legend-elements li:nth-child(1) span {
    background-color: rgb(0, 218, 0);
}

#layout-legend-elements li:nth-child(2) span {
    background-color: rgb(8, 150, 216);
}

#layout-legend-elements li:nth-child(3) span {
    background-color: rgb(228, 245, 73);
}

#layout-legend-elements li:nth-child(4) span {
    background-color: rgb(250, 37, 37);
}

.legend-colors {
    border: 1px solid black;
    height: 10px;
    width: 15px;
    margin: auto 10px;
    display: inline-block;
}

#layout-content {
    height: 65vh;
    width: 60vw;
    margin: 15px 30px;
    border: 3px solid black;
}