.layout-editor {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.editor-sidetools {
    width: 15vw;
    height: 10vw;
    margin-left: 10px;
    margin-top: 80px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.sidetool-title {
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 21, 41);
    color: rgb(188, 187, 187)
}

.sidetool-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    text-align: center;
}

.sidetool-grid div {
    margin: 20px 5px;
}

.sidetool-grid img {
    height: 60px;
    width: 60px;
}

.sidetool-grid img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.layout-editor-right {
    width: 75vw;
}

.layout-editor-content {
    margin: 20px 15px;
    border: 3px solid black;
    height: 580px;
    width: 875px;
    opacity: 0.9;
    position: relative;
    background-color: rgb(244, 248, 228);

}

.TableNumber {
    position: absolute;
    z-index: 100;
    font-size: medium;
    left: 20px;
    top: 20px;
    color: rgb(188, 187, 187);
}

.editor-item {
    height: auto !important;
    width: 100px !important;
    border-radius: 8px;
    position: relative;
}



/* .editor-item img{
    /* height: 25px;
    width: 25px;
    height:auto; */
/*} */

.rotateDelete{
    color:white;
    
}

.rotate-icon {
    /* visibility: hidden;
    position: absolute;
    z-index: 2; */
    z-index: 100;
    left: 20px;
    position: absolute;
    display: none;
}

.layout-editor-content div:hover .rotate-icon, .rotate-icon:hover {
    display: block;
}

.rotate-north {
    transform: rotate(0deg);
}

.rotate-west {
    transform: rotate(90deg);
}

.rotate-south {
    transform: rotate(180deg);
}

.rotate-east {
    transform: rotate(270deg);
}

.logo{
    /* position: relative */
    /* filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
    fill: red; */

    
    /* background-color: orange; 
    mask: url(../../../assets/icons/editor/Table1.svg) no-repeat center / contain;
    -webkit-mask: url(../../../assets/icons/editor/Table1.svg) no-repeat center / contain;
*/


    /* filter: invert(.5) sepia(1) saturate(100) hue-rotate(0deg); */
    /* filter: invert(.5) sepia(1) saturate(100) hue-rotate(90deg);
    filter: invert(.5) sepia(1) saturate(100) hue-rotate(60deg);
    filter: invert(.5) sepia(1) saturate(100) hue-rotate(240deg);
     */
}