*{
    margin-top: 200vh;
    /* margin: 0; */
    padding: 0;
  }
  
  .page{
    margin-top: 150px;
    height: 100px;
    width:865px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
  
  }
  .container{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color: #53575a !important;    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    background-color: #53575a !important;
    font-weight: bold;
  
  }
  .img-holder{
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: rgb(229, 229, 229);

  }
  .img{
    width: 1000px;
    height: 600px;
    object-fit: fill;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    background-color: #53575a !important;
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 6px 10px;
    border-radius: 8px;
    border: 2px solid black;
  }