*{
    margin-top: 200vh;
    /* margin: 0; */
    padding: 0;
  }
  
  .page{
    margin-top: 150px;
    height: 100px;
    width:865px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
  
  }
  .container{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  
  }
  .img-holder{
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: rgb(229, 229, 229);

  }
  .img{
    width: 1000px;
    height: 600px;
    object-fit: fill;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;
    width: 200px;
      height: 25px;
    color: white;
    border-radius: 10px;
    background-color: rgb(103, 181, 253);
    text-align: center;
    cursor: pointer;
  }