.navbar {
    height: 100vh;
    width: 300px;
    overflow: auto;
    background-color: #000000;
}

.ant-menu-item-selected, .ant-btn-primary {
    background-color: #828a91!important;
    border: #828a91!important;
}

.ant-menu-dark {
    background-color: #000000 !important;
}


.sidetool-title {
    background-color: #53575a !important;
}

.sidetool-grid{
    opacity: 0.8 !important;
    background: #828a91 !important;
}

.editor-sidetools{
    opacity: 0.8 !important;
    background: #828a91 !important;
}