.WifiInput {
    position: fixed;
    /* or absolute */
    top: 40%;
    left: 55%;
    border: 1px solid;
    padding: 10px;
    height: 150px;
    width: 200px;
}

.saveWifiButtonDiv {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveWifiButton {
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color: #bddbfa;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.updatebutton {
    position: fixed;
    top: 50%;
    left: 50%;
}