.WifiInput {
    position: fixed;
    /* or absolute */
    top: 40%;
    left: 55%;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    height: 150px;
    width: 200px;
    opacity: 0.8;
    font-weight: bold;
    background-color: #828a91!important;
    border: 2px solid black;

}

.saveWifiButtonDiv {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveWifiButton {
    background-color: #53575a !important;
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 6px 10px;
    border-radius: 8px;
    border: 2px solid black;
    
}

.updatebutton {
    position: fixed;
    top: 50%;
    left: 50%;
}